.add-user {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem auto 0;
  text-align: left;
  color: white;
  padding: 2rem 0;
  max-width: 600px;
}

.add-user__input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}

.add-user__input label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: inline;
  padding-right: 2rem;
}

.add-user__input input {
  /* background-color: black; */
}

.add-user__button {
  text-align: center;
  margin: 0 auto;
}

.add-user__button button {
  font: inherit;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  background: #4f005f;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
  min-width: 150px;
  margin-top: 1rem;
}

.add-user__button button:hover,
.add-user__button button:active {
  background: #741188;
  border-color: #741188;
}

.add-user__button button:focus {
  outline: none;
}
