.project-info {
  box-sizing: border-box;
  background-color: #85144b;
  color: white;
  padding: 1rem 1rem;
  margin: 2rem 0;
  border: #2a2a2a 10px dashed;
  position: relative;
}

.project-info__close {
  position: absolute;
  top: -23px;
  right: -5px;
}

.project-info__close:after {
  content: "\00d7"; /* This will render the 'X' */
  height: 40px;
  width: 40px;
  font-size: 40px;
}

.project-info__close:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}
